<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" xmlns:og="http://ogp.me/ns#">
  <head>
    <meta charset="utf-8">
    <title>
      {% if is_login %}Login
      {% elif is_home %}{{ site.author }}
      {% elif is_tag %}{{ tag }}
      {% elif post %}{{ post.title }}
      {% endif %}
      | {{ site.name }}
    </title>

    {{ header_meta }}

<link rel="stylesheet" type="text/css" href="{{ assets('css/style.css') }}">
<meta name="google-site-verification" content="z_1OqedAKwhxdfeAU6D-c_bcAq6pRqb4EGaSQLHBA78" />
<meta name='wmail-verification' content='be7306c39ef40e55' />
<meta name="msvalidate.01" content="01CBD6D7B22B7286288F6CF5A111D265" />
<meta name='yandex-verification' content='64d1acd73cf6fe8f' />
<meta name="sepool_verification" content="sepool_nb3jx6avlc81572q" />
<link rel="shortcut icon" href="http://www.tdksp.kz/assets/templates/tdksp/images/t1.png">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>   
 <!-- Rating@Mail.ru counter -->
<script type="text/javascript">//<![CDATA[
var _tmr = _tmr || [];
_tmr.push({id: "2472136",  type: "pageView", start: (new Date()).getTime()});
(function (d, w) {
   var ts = d.createElement("script"); ts.type = "text/javascript"; ts.async = true;
   ts.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//top-fwz1.mail.ru/js/code.js";
   var f = function () {var s = d.getElementsByTagName("script")[0]; s.parentNode.insertBefore(ts, s);};
   if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); }
})(document, window);
//]]></script><noscript><div style="position:absolute;left:-10000px;">
<img src="//top-fwz1.mail.ru/counter?id=2472136;js=na" style="border:0;" height="1" width="1" alt="Рейтинг@Mail.ru" />
</div></noscript>
<!-- //Rating@Mail.ru counter -->

    <!--[if IE 7]>
      <link href="http://postach.io/static/themes/_assets/fontawesome/css/font-awesome-ie7.min.css" rel="stylesheet">
    <![endif]-->

    <!--
    <style>
      /**
       * Your custom override CSS goes here. If you wanted to override the default link colour and hover state, you would do this:
       *
       *  a {
       *      color: #333; /* Override the default colour with a not-quite-black that is easy on the eyes on white screens */
       *  }
       *
       *  a:hover {
       *      color: #545454; /* This will now change the hover state as well */
       *  }
       *
       *  You can put anything you want to override in here, so be creative!
       */
    </style>
    -->

    {% if site.analytics %}
    <script>
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '{{ site.analytics }}']);
    _gaq.push(['_trackPageview']);
    (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    {% endif %}
  
    <form action="http://www.google.ru" id="cse-search-box">
     <div>
    <input type="hidden" name="cx" value="partner-pub-7494488769984810:7731453247" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="89" />
    <input type="submit" name="sa" value="&#x041f;&#x043e;&#x0438;&#x0441;&#x043a;" />
     </div>
    </form>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
<script type="text/javascript" src="http://www.google.ru/coop/cse/brand?form=cse-search-box&amp;lang=ru"></script>
  </head>
  
  
  <body>

    {% if is_login %}

      {{ login_form }}

    {% else  %}

    <div class="row">
      <div class="span4 header">
        <div class="bg-img" style="background-image: url('{% if site.cover_photo %}{{ site.cover_photo }}{% else %}{{ assets('images/background.jpg') }}{% endif %}');"></div>
        <div class="gradient"></div>
        <div class="title">
          <h1>{{ site.name }}</h1>
          <ul class="social">
            {% if site.twitter %}
            <li>
              <a href="{{ site.twitter }}" title="Twitter" target="_blank">
                <i class="icon-twitter"></i> Twitter
              </a>
            </li>
            {% endif %}

            {% if site.facebook %}
            <li>
              <a href="{{ site.facebook }}" title="Facebook" target="_blank">
                <i class="icon-facebook-sign"></i> Facebook
              </a>
            </li>
            {% endif %}

            {% if site.googleplus %}
            <li>
              <a href="{{ site.googleplus }}?rel=author" title="Google+" target="_blank">
                <i class="icon-google-plus"></i> Google+
              </a>
            </li>
            {% endif %}

            {% if site.linkedin %}
            <li>
              <a href="{{ site.linkedin }}" title="LinkedIn" target="_blank">
                <i class="icon-linkedin"></i> LinkedIn
              </a>
            </li>
            {% endif %}
            <li>
              <a href="{{ site.atom_url }}" title="RSS" target="_blank">
                <i class="icon-rss"></i> RSS
              </a>
            </li>
          </ul>

        
        <div class="site-description">
          <ul>
    Воспользуйтесь поиском по сайту
      <form action="http://www.google.ru" id="cse-search-box">
     <div>
    <input type="hidden" name="cx" value="partner-pub-7494488769984810:7731453247" />
    <input type="hidden" name="ie" value="UTF-8" />
    <input type="text" name="q" size="89" />
    <input type="submit" name="sa" value="&#x041f;&#x043e;&#x0438;&#x0441;&#x043a;" />
     </div>
    </form>
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">google.load("elements", "1", {packages: "transliteration"});</script>
<script type="text/javascript" src="http://www.google.ru/coop/cse/brand?form=cse-search-box&amp;lang=ru"></script>


          <li><a href="/">Архив</a></li>
          
          {% if pages %}
          {% for page in pages %}
          <li><a href="{{ page.permalink }}" class="{{ set_active(page.permalink) }}">{{ page.title }}</a></li>
          {% endfor %}
          {% endif %}
          </ul>
        </div>
      </div>
    </div>
</div>
    <div class="row wrapper">

      <div class="span4 spacer"></div>

      {% if is_home or is_tag %}

      <div class="span6 offset1 posts">

          {% if is_tag %}
          <h4 class="sub-heading span6">Все статьи с меткой {{ tag }}:</h4>
          {% endif %}

          {% if posts %}
          {% for post in posts %}
          <div class="post span6">
            <div class="row">
              <div class="span6">
                <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
                
              </div>
            </div>
            <div class="post-body" data-type-cleanup="true">
             
              {{ post.content }}
              <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- burshapgor -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7494488769984810"
     data-ad-slot="1099854849"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>
            <div class="post-info">
              <div class="info-left">
                <p class="date">{{ post.created_at }}</p>
              </div>
              <div class="info-right">
                <p class="read-more"><a href="{{ post.permalink }}">Читать &raquo;</a></p>
              </div>
            </div>
          </div>
          {% endfor %}
          {% if not is_tag %}
          <div class="pagination span6">
            {% if pagination.prev %}<a href="{{ pagination.prev }}" class="post-prev">&larr; На предыдущую страницу</a>{% endif %}
            {% if pagination.next %}<a href="{{ pagination.next }}" class="post-next">На следующую страницу &rarr;</a>{% endif %}
          </div>
          {% endif %}
          {% else %}
          <h4 class="sub-heading span6">Ничего нет :(</h4>
          {% endif %}
          <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- expl-remont -->
<ins class="adsbygoogle"
     style="display:inline-block;width:300px;height:600px"
     data-ad-client="ca-pub-7494488769984810"
     data-ad-slot="9643710840"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
      </div>

      {% elif post %}

      <div class="span6 offset1 posts">
        <div class="post whole span6">
          <h1>{{ post.title }}</h1>
          <div class="post-info">
            <div class="info-left">
              <p class="date">{{ post.created_at }}</p>
            </div>
            <div class="info-right">
              <p class="comments">
                <a href="/"><i class="icon-comment"></i> 1495</a>
              </p>
            </div>
          </div>
          <div class="post-body">
            <div class="post-content" data-type-cleanup="true">
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- burshapgor -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7494488769984810"
     data-ad-slot="1099854849"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
              {{ post.content }}

<!-- burshapgor -->
<ins class="adsbygoogle"
     style="display:inline-block;width:728px;height:90px"
     data-ad-client="ca-pub-7494488769984810"
     data-ad-slot="1099854849"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
            </div>

            {% if post.type == 'link' %}
            <p><a href="{{ post.url }}"><i class="icon-share"></i> {{ post.url }}</a></p>
            {% endif %}

            {{ theme.social.bar }}

            {% if post.tags %}
            <ul class="post-tags">
            {% for tag in post.tags %}
              <li><a href="/tag/{{ tag }}">{{ tag|format_tag(link=False, humanize=True) }}</a></li>
            {% endfor %}
            </ul>
            {% endif %}
          </div>
          <div class="post-footer">
            <p class="back"><a href="/">&laquo; Назад</a></p>
          </div>
          {% if site.disqus %}
          <div class="post-comments">
            <div id="disqus_thread"></div>
            <script>
              var disqus_shortname = '{{ site.disqus }}';
              var disqus_url = '{{site.base_url}}{{ post.permalink }}';
              (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
              })();
            </script>
          </div>
          
<!--LiveInternet counter--><script type="text/javascript"><!--
document.write("<a href='http://www.liveinternet.ru/click' "+
"target=_blank><img src='//counter.yadro.ru/hit?t25.1;r"+
escape(document.referrer)+((typeof(screen)=="undefined")?"":
";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
";h"+escape(document.title.substring(0,80))+";"+Math.random()+
"' alt='' title='LiveInternet: показано число посетителей за"+
" сегодня' "+
"border='0' width='88' height='15'><\/a>")
//--></script><!--/LiveInternet-->
<!-- begin of Top100 code -->

<a href="http://top100.rambler.ru/navi/3022596/">
<img src="http://counter.rambler.ru/top100.cnt?3022596" alt="Rambler's Top100" border="0" />
</a>

<!-- end of Top100 code -->
<!-- Yandex.Metrika informer -->
<a href="https://metrika.yandex.ru/stat/?id=24785309&amp;from=informer"
target="_blank" rel="nofollow"><img src="//bs.yandex.ru/informer/24785309/1_1_FFFFFFFF_EFEFEFFF_0_uniques"
style="width:80px; height:15px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (уникальные посетители)" /></a>
<!-- /Yandex.Metrika informer -->

<!-- Yandex.Metrika counter -->
<script type="text/javascript">
(function (d, w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter24785309 = new Ya.Metrika({id:24785309,
                    webvisor:true,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true});
        } catch(e) { }
    });

    var n = d.getElementsByTagName("script")[0],
        s = d.createElement("script"),
        f = function () { n.parentNode.insertBefore(s, n); };
    s.type = "text/javascript";
    s.async = true;
    s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";

    if (w.opera == "[object Opera]") {
        d.addEventListener("DOMContentLoaded", f, false);
    } else { f(); }
})(document, window, "yandex_metrika_callbacks");
</script>
<noscript><div><img src="//mc.yandex.ru/watch/24785309" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
<!-- Rating@Mail.ru logo -->
<a target="_blank" href="http://top.mail.ru/jump?from=2472136">
<img src="//top-fwz1.mail.ru/counter?id=2472136;t=364;l=1" 
border="0" height="18" width="88" alt="Рейтинг@Mail.ru"></a>
<!-- //Rating@Mail.ru logo -->
<a href="http://yandex.ru/cy?base=0&amp;host=gosnik.postach.io"><img src="http://www.yandex.ru/cycounter?gosnik.postach.io" width="88" height="31" alt="Яндекс цитирования" border="0" /></a>.
<div class="copyright"><p class="center">Все права защищены &copy; <a href="/">Машины и оборудование нефтяных и газовых промыслов</a>.</p>
</div>
          {% endif %}
        </div>
      </div>

    {% elif post.type == 'page' %}

      <div class="span6 offset1 posts">
        <div class="post whole span6">
          <h1>{{ page.title }}</h1>
          <div class="post-body" data-type-cleanup="true">
            {{ page.content }}
          </div>
          <div class="post-footer">
            <p class="back"><a href="/">&laquo; Назад</a></p>
          пример11</div>
          пример10
        </div>
пример 7
      </div>
пример 1
    {% endif %}
пример 2

<ul>
<li><a href="/">Главная</a></li>
<li><a href="/reklama" class="inactive">Реклама</a></li>
<li><a href="/voprosnik" class="inactive">Вопросник</a></li>
<li><a href="/tag/ekonomika-predpriiatii-neftegazovoi-otrasli">Экономика предприятий нефтегазовой отрасли</a></li>
 <li><a href="/tag/politologiia">Политология</a></li>
  <li><a href="/tag/gidromashiny-i-kompressory">Гидромашины и компрессоры</a></li>
   <li><a href="/tag/gidravlika">Гидравлика</a></li>
    <li><a href="/tag/ekologiia">Экология</a></li>
     <li><a href="/tag/istoriia">История</a></li>
      <li><a href="/tag/dobycha-nefti-i-gaza">Добыча нефти и газа</a></li>
       <li><a href="/tag/vysshaia-matematika">Высшая математика</a></li>
        <li><a href="/tag/nachertalka">Начертательная геометрия</a></li>
         <li><a href="/tag/burenie">Бурение</a></li>
          <li><a href="/tag/etika">Этика</a></li>
          <li><a href="/tag/referat">Рефераты</a></li>
          <li><a href="/tag/testy">Тесты</a></li>
          <li><a href="/tag/otvety">Ответы</a></li>
           <li><a href="/tag/mashiny-i-oborudovanie-neftianykh-i-gazovykh-promyslov">Машины и оборудование нефтяных и газовых промыслов</a></li>
   <li><a href="/tag/kak-napisat-diplom">Как написать диплом?</a></li>
   <li><a href="/tag/operator-po-dobyche-nefti-i-gaza"> Оператор по добыче нефти</a></li> 
</ul>

    </div>
пример 3
    {% endif %}
пример 4    
    {{ footer_meta }}
пример6
    <!-- bootstrap -->
    <script src="http://postach.io/static/themes/_assets/bootstrap/js/bootstrap.min.js" /></script>
 пример 8   
  </body>
  пример9
</html>
